body
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    background-color:white;
}
h2
{
    text-align:center;
    text-transform:uppercase;
    font-size:50px;
    padding:40px;
    margin:0px;
}
h1
{
    text-transform:uppercase;
}
h3
{
    text-transform:uppercase;
    font-size:24px;
}
a:hover
{
    text-decoration:none;
}
a:active
{
    text-decoration:none;
}
#white a
{
    color:white;
}
#white a:hover
{
    color:grey;
}
#white a:active
{
    text-decoration:none;
}
.navbar-header > h1 > a:active
{
	text-decoration:none;	
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus 
{
    background-color: #124e87;
    color: grey;
}
.navbar-header > a:hover
{
    background-color: #124e87;
    color: grey;
}
.navbar-header > a
{
    background-color: #124e87;
    color: white;
}
.navstyles
{
    font-size:25px;
    margin-bottom:-60px;
    background-color:#124e87;
    border-color:black;
	border-bottom:black solid 2px;
}

.navstyles a
{
    margin: 25px 5px 25px 5px;
    color:white;
}
.nomargin img
{
    margin:0px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}


.brand 
{
    padding: 30px 15px 25px 5px;
    font-size:60px;
    color:white;
    border:none;
}
.centerImage
{
    height:1000px;
    background-size:cover;
    background-image:url("Images/workspace.jpg");
    text-align:center;
    float:left;
}

.centerImageText
{
    font-size:24px;
    position:relative;
    top:40%; 
   
}

.imageTextBG
{
    background-color:white;
    opacity:0.70;
    padding-bottom:30px;
}
.bgoverride a
{
    border-left :solid 5px white;
}

.about
{
    color:white;
    background-color:black;
    float:left;
     padding:0px;
     text-align:center;
     background-image:url("Images/vault.jpg");
}

.about p
{
    font-size:18px;
    padding:25px 0 25px 0;
}

.leftAbout
{
    background-color:white;
    color:black;
}


.digitalMedia
{
     float:left;
     padding:0px;
}

.dmText
{
    text-align:center;
    font-size:18px;
    padding:25px 0 25px 0;
}
.code
{
    text-align:center;
    padding:0px;
    float:left;
    background-image:url("Images/code.png");
    color:white;
    height:883px;
    background-size:cover;
}
.code p
{
    font-size:18px;
    padding:25px 0 25px 0;
}
.clearPic
{
   height:200px;
}
.experience
{
    padding:0px;
    float:left;
    text-align:center;
}
.experience span
{
    padding:60px;
    font-size:60px;
}
.experience h3
{  
    padding:0px 0px 40px 0;
}
.experience a
{
    color:black;
}
.header
{
    background-color:#124e87;
    color:white;
}

.whitebg
{
    background-color:rgb(255,255,255);
    opacity:0.85;
}
.borderright
{
    border-right: 5px solid black;
}
@media(min-width: 1350px)
{
    .navstyles a
    {
        padding:25px 20px 25px 20px;
    }
	.carousel
	{	margin:auto;
		width: 90%;	
	}
}
@media(min-width:1750px)
{
	.carousel
	{	margin:auto;
		width: 80%;	
	}
}
@media(max-width:930px)
{
	.nav a
	{
		font-size:18px;
		padding:15px 20px 15px 20px;	
	}
}

@media(max-width:500px)
{
    .brand {
        font-size:40px;
    }
}
.carousel-inner img
{
    width:100%;
}
.photography
{
	font-size:18px;
	text-align:center;
	float:left;
	padding:0px;	
}
.photography p
{
	padding: 25px 0  25px 0;	
}
